@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #cornflowerblue;;
    --off-white: #F3F4F6;
    --dark-gray: #C1C1C1;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}

hr {
    margin: 2rem 0rem;
}

.margin-md {
    margin: 2rem;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
   
    
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
    display: inline;
    color: rgb(1, 88, 250);
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
    display: inline;
    color: rgb(1, 88, 250);
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
    color: #000000;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;

}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.1rem;
    border-bottom-left-radius: 1rem;
    text-align: center;
}

.navigation .nav-brand {
   
    text-align: center;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

#img-circle {
    border-radius: 50%;
    border: 5px solid var(--primary-color);
}
   

.hero {
    padding: 2rem;
    padding-top: 3rem;
    font-size: small;
    text-align: center;
}

.hero .hero-img {
    /*max-height: 100%;*/
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
   
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: rgb(1, 88, 250);
}

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: var(--off-white);
}


.footer {
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

.showcase-list {
    padding: 2rem;
}

.showcase-blog {
    padding-bottom: 6rem;
}
.img{
    width:40px;
    border:50% solid;
    border-radius: 60%;
}